.landingContainer {
  height: 100vh;
  width: 100vw;
  background-image: url('/assets/Logo%20e%20Wallpapers/Wallpaper.Cristo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 10% 10%;
}